@keyframes spinner-animation {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}

.spinner div {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 15px solid var(--blue);
  border-top-color: transparent;
  border-radius: 50%;
  animation: spinner-animation 1s linear infinite;
  top: 100px;
  left: 100px;
  box-sizing: content-box;
}

.spinnerContainer {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  margin: auto;
}

.spinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}